h1 {
  font-size: 40;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 32;
  font-weight: bold;
  color: #5b160c;
  margin: 0;
}

h3 {
  font-size: 24;
  font-weight: bold;
  color: #5b160c;
  margin: 0;
}

p {
  font-size: 14;
  margin: 0;
}

.textbox {
  border: 1px solid gray;
  border-radius: 8;
  padding-left: 8;
  height: 44;
}

.dropdown {
  border: 1px solid gray;
  border-radius: 8;
  padding-left: 8;
  height: 48;
}

.mainButton {
  background-color: red;
  color: white;
  font-weight: bold;
  height: 48;
  border: none;
  border-radius: 8;
  padding: 8;
  cursor: pointer;
  width: 180;
}

.mainButton:hover {
  background-color: #e82b0e;
}

.secondaryButton {
  color: red;
  cursor: pointer;
  font-weight: bold;
  border: none;
  background-color: transparent;
  margin-top: 4;
}

.label {
  font-weight: bold;
  margin-bottom: 4;
}

.tableHeader {
  /* background-color: #ccc; */
  text-align: left;
  /* padding: 8; */
  font-weight: bold;
}

.tableRow {
  margin-top: 8;
  margin-bottom: 8;
  width: "100%";
  cursor: pointer;
  background-color: #eee;
  border-radius: 8;
  display: flex;
}

.tableRow:hover {
  background-color: #ddd;
}

.tableCell {
  /* background-color: #eee; */
  padding: 8;
  display: flex;
  align-items: center;
}

.detailPanel {
  background-color: #eee;
  margin-top: 8;
  margin-bottom: 32;
  padding: 36;
  border-radius: 8;
  filter: drop-shadow(0 0 3px gray);
  cursor: auto;
}
